p
{
    font-size: 20px;
}
#petitCube
{
    width: 50px;
    height: 50px;
    background-color: darkgoldenrod;
    transition: width 2s;
}
#petitCube:hover
{
    width: 300px;
}
.titre
{
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
}
.sousTitre
{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}
.color-div
{
    height: 50px;
    width: 150px;
    background-color: aqua;
    transition: background-color 5s, width 10s;
}
.color-div:hover
{
    background-color: darkgoldenrod;
    width: 50px;
}
.delay-div
{
    width: 50px;
    height: 50px;
    background-color: darkgoldenrod;
    transition: width 2s;
}
.delay-div:hover
{
   transition-delay: 2s;
   width: 300px;
}
.round-move
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: darkgoldenrod;
    transition-property: width;
    transition-timing-function: cubic-bezier( 0.89, 0.06, 0.06, 0.77 );
    transition-duration: 4s;
}
.round-move:hover
{
    width: 800px;
}
#cube
{
    width: 50px;
    height: 50px;
    background-color: darkgoldenrod;
    transition: background-color 2s, border-radius 5s, margin-left 5s;
}
#cube:hover
{
    background-color: aqua;
    border-radius: 50%;
    margin-left: 50%;
}
#spin
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkgoldenrod;
}
#spin:hover
{
    margin-top: 50%;
}
.div-animation-one
{
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
    animation-name: animation-one;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation-one {
    from {background-color: darkgoldenrod;}
    33% {background-color: aqua;}
    66% {background-color: darkgoldenrod;}
}

.animation-move
{
    width: 75px;
    height: 75px;
    background-color: darkgoldenrod;
    animation-name: move-one;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes move-one {
    from{ margin-left: 0%;}
    to{ margin-left: 100%;}
    
}
.animation-move-two
{
    width: 75px;
    height: 75px;
    background-color: darkgoldenrod;
    animation-name: move-one;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*#block-square
{
    background-color: black;
    height: 800px;
    width: 800px;
}*/
/*#square
{

}*/

