.list-navigation{
    list-style: none;
}
center
{
    text-align: center;
}

.div-article{
    border: 1px solid black;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.div-article :nth-child(4){
    color: blue;
}

.div-second-article{
    border: 1px dashed red;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.div-second-article :nth-child(5){
    color: red;
}
